.gallery {
    width: 100%;
    max-width: 900px;
    height: 400px;
    display: block;
    overflow: auto;
}

.inner-gallery {
    height: 100%;
}

.gallery-item {
    width: 400px;
    height: 300px;
    margin: 20px;
    float: left;
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}