@font-face {
    font-family: 'Fira Sans'; /*a name to be used later*/
    src: 
        url('/fonts/firasans/OTF/FiraSans-Thin.otf'),
        url('/fonts/firasans/OTF/FiraSans-ThinItalic.otf') italic,
        url('/fonts/firasans/OTF/FiraSans-Book.otf') weight 300,
        url('/fonts/firasans/OTF/FiraSans-Regular.otf') weight 400,
        url('/fonts/firasans/OTF/FiraSans-Bold.otf') weight 600,

}

.indexWrapper {
    justify-content: left;
    text-align: left;
}

a, .postTitle, .headerLinks ul li a {
    color: #33aacc;
    font-weight: 600;
}

a:hover, .postTitle:hover, .headerLinks ul li a:hover {
    color: #38bbea;
}

.postMetadata {
    font-size: 12pt;
}

.postDate {
    font-family: 'Fira Mono', monospace;
    color: #56bbdd;
}

.content {
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.5em;
    font-family: 'Fira Sans', sans-serif;
}

p code {
    background: #343a3c;
    border-radius: 3px;
    font-size: 90%;
    font-weight: 200;
    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    font-size: 16pt;
}

h2 {
  margin-top: 40px;
  padding-bottom: 5px; /* Adjust this value to change the distance between the line and the text */
  margin-bottom: 20px; /* Adjust this value to change the space below the line */
  position: relative;
}

h2::after {
  content: "";
  display: block;
  width: 18px;
  height: 3px;
  bottom: -7px;
  left: 10px;
  background-color: #f8f8ff;
  position: absolute;
  transform: translateX(-50%);
}

.indexHeader::after {
    display:none;
}

.indexWrapper h2::after {
    background-color: #f8f8ff;
}