@import "../utils/variables";

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: fade 1s ease both;
}

@keyframes fade {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.content {
  text-align: center;
  margin: 0 auto;
  flex: 1 auto;
  padding: 20px;

  @media only screen and (min-width: $breakLarge) {
    display: flex;
    width: $width;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.main {
  width: 100%;
  height: 100%;
}