{{ range .Site.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}
{{ range .Page.Params.custom_css -}}
    <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}
{{ range .Site.Params.custom_js -}}
    <script type="text/javascript" src="{{ . | absURL }}"></script>
{{- end }}
{{ range .Page.Params.custom_js_module -}}
    <script type="module" src="{{ . | absURL }}"></script>
{{- end }}
<!--Keerthik's custom stuff-->
<script defer src="https://cloud.umami.is/script.js" data-website-id="669ceb0b-f29a-4e93-a97a-b7f427759f68"></script>
<meta name="darkreader-lock">
