<header class="headerWrapper">
    <div class="header">
        <div>
            {{ $stub := cond ( .IsHome ) "" .CurrentSection.Name }}
            {{ $stuburl := cond ( .IsPage ) (add "/" .CurrentSection.Name) ""}}
            {{ $separator := cond ( .IsHome ) "" " / "}}
            {{ $terminator := cond (.IsPage) .Params.terminal "$" }}
            <span class="terminal">
            {{ if (.IsHome) }}
                {{ .Site.Params.hostname }}
            {{ else }}
                <a href="{{ .Site.BaseURL }}">{{ .Site.Params.hostname }}</a>
            {{ end }}
            {{ $separator }}
            {{ if (.IsPage) }}
                <a href="{{ $stuburl }}"> {{ $stub }} </a>
            {{ else }}
                <span class="command">
                {{ $stub }}
                </span>
            {{ end }}
            {{ $separator }}
            <span class="command">
            {{ $terminator }}
            </span>
            </span>
        </div>
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <nav class="headerLinks">
            <ul>
                {{ range .Site.Menus.header }}
                <li>
                    <a href="{{ .URL | absURL }}" title="{{ .Title }}" >
                        ./{{- .Name -}}
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</header>
