<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    <title>
        Home | {{ .Site.Params.author }}
    </title>

    {{ partial "head.html" . }}

</head>

<body>

    <div class="flexWrapper">
        {{ partial "header.html" . }}

        <div class="content vertical">
            <main class="main">
                <div class="indexWrapper">
                    <div>
                        <h1 class="indexHeader">{{ .Site.Params.author }}.me</h1>
                    </div>
                    <div>
                    {{ range first 1 .Sections }}
                        {{ range first 1 .Pages }}
                            <h2>Latest [{{ .Date.Format "2006/01" }}]</h2>
                            <h3>&nbsp;→ ./essays/<a href="{{ .Permalink }}" title="{{ .Title }}" >{{ .Title }}</a></h3>
                        {{ end }}
                    {{ end }}
                    {{ range .Site.Menus.header }}
                        <h2><a href="{{ .URL | absURL }}" title="{{ .Title }}" >./{{ .Name }}</a></h2>
                    {{ end }}
                    </div>
          
                    {{ if isset .Site.Params "social" }}
                        {{ partial "social.html" . }}
                    {{ end }}
                </div>
            </main>
        </div>


        {{ partial "footer.html" . }}
    </div>

</body>

</html>