<% content_for :head do %>
	<script src="http://terminal.jcubic.pl/js/jquery.terminal-0.6.3.min.js" 
  			type="text/javascript"></script>

	<%= javascript_include_tag "site_content" %>
	<%= javascript_include_tag "terminal_korc" %>
 <% end %>

<h1> kOrc.me </h1>
<div id="terminal_container">
	<div id="korc_terminal" class="terminal"></div>
	<div style="text-align: center; margin: 0 auto">Enter 'help' at any time and I'll snicker at you.</div>
</div>
<div id="site_display">
 	This will have content at some point. <br>
 	Like my portfolio. <br>
 	And outbound links to the cool things I do. <br>
 	That you can control with this console here. <br>
 	For now, we'll have to make do with this: <br>
 	<a href="http://www.bitgym.com" target="_blank">BitGym</a>: Making exercise fun <br>
 	<a href="http://www.zoako.com" target="_blank">Zoako Studios</a>: Innovation in entertainment <br>
 	<a href="http://blogg.korc.me" target="_blank">Blog about Globalization</a>: Why we want to be Citizens of the World <br>
</div>
