---
layout: default
---
<head>
	{% include {{ site.posthead }} %}
</head>
<body>
{% include header.html %}
{% capture time %}
	{{ page.content | number_of_words | plus: 1 | divided_by: 180 }}
{% endcapture %}
<div class="inner-content">
	<div class="essay-map">writing > {{ page.folder }} > {{ page.title }}</div>
	<div class="essay-map">Last Updated: <span class="essay-data">{{ page.update }}</span></div>
	<div class="essay-data"> {{ time }} minute read</div>
	<h1>{{ page.title }}</h1>
	{{ content }}	
	<hr>
	{% if page.tweet %}
	<p style="text-align: center"><em>Comments? Like, retweet or respond to the announcement tweet:</em></p>
	<div class="tweet-container">
		{{ page.tweet }}
	</div>
	{% endif %}
	{% if page.cross %}
		<div class="essay-subtext">cross-posted: {{ page.cross }} </div>
	{% endif %}
</div>
