{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author }}
{{ end }}

{{ define "main" }}

<div>
    <div class="listHeader">
        <!-- <h1>{{ .Title }}</h1> -->
    </div>

    {{ with .Content }}
    <div class="listContent">
        {{- . -}}
    </div>
    {{ end }}

    <div>

    {{ $pages := slice }}

    <div>
    {{ range .Pages }}
        {{ $page := .Page }}
        {{ $category := (index .Page.Params.categories 0) }}
        {{ with $category }}
            {{ $pageslice := (dict "category" $category "page" $page) }}
            {{ $pages = $pages | append $pageslice }}
        {{ else }}
            {{/* printf "%#v has no category" .Page.Title */}}
        {{ end }}
    {{ end }}
    
    {{ range .Site.Params.categorydata }}
    {{ if len (where $pages "category" .name) }}
    <div class="listHeader">
        <h2>{{ .heading }}</h2>
        {{ with .intro }}
        <p>{{ . | $.Page.RenderString }}</p>
        {{ end }}
    </div>
        {{ range where $pages "category" .name }}
        {{ with .page }}
        <a href="{{ .Permalink }}">
            <!-- [html-validate-disable-next prefer-native-element] -->
            <div class="postListItem" role="listitem">
                <div class="postHeader">
                    <span class="postTitle">{{ .Title }}</span>
                    {{ $formattedDate := .Date.Format "2006-01" }}
                    <time class="postDate" datetime="{{ $formattedDate }}">{{ .Date.Format "2006 / 01" }}</time>
                </div>
                <div class="postExcerpt">
                    <p>{{ .Summary }}</p>
                </div>
            </div>
        </a>
        {{ end }}
        {{ end }}
    {{ end }}
    {{ end }}

        
    </div>
</div>

{{ end }}