@font-face {
	font-family: 	"Monaco";
	src: 			local("Monaco"), url ('https://github.com/todylu/monaco.ttf/blob/master/monaco.ttf') format("truetype");
}

@font-face {
    font-family: 'FiraSans'; /*a name to be used later*/
    src: url('/resources/fonts/firasans/OTF/FiraSans-Regular.otf'); /*URL to font*/
}

@font-face {
    font-family: 'FiraSans Light'; /*a name to be used later*/
    src: url('/resources/fonts/firasans/OTF/FiraSans-Light.otf'); /*URL to font*/
}

body {
	background-image: url('/resources/images/crossword.png');
	font-family: 	"FiraSans";
	font-size: 		20px;
	letter-spacing: 1px;
	margin: 		0;
}

a, a:visited {
	color: #5af;
	text-decoration: none;
}

a:hover {
	color: #5fa;
}

.header {
	margin: 		0px auto;
}

.nav {
	position: 		relative;
	height: 		83px;
	margin: 		0;
}

.nav ul {
	font-family:	"FiraSans";
	list-style: 	none;
	margin: 		0;
	padding: 		0px;
}

.nav li {
	float: 		left;
	width: 		130px;
	height: 	40px;
	padding: 	20px 20px;
	margin: 	3px 3px;
	text-align: center;
	font-size: 	24px;
	font-weight:100;
	margin-left:0px;
	margin-bottom:0px;
}

.nav li:hover {
	color: 	#fff;
}
.nav li a {
	text-decoration:none;
}

li.nav-home:hover {
	color: 			#000;
	background: 	#fff;
}

.nav-home {
	color: 			#000;
}

li.nav-essays:hover {
	background: 	#3d3d3d;
}

.nav-essays {
	color: 			#ccc;
}

li.nav-projects:hover {
	background: 	#2c3;
}

li.nav-projects {
	color: 			#000;
}

li.nav-about:hover {
	background: 	#35f;
}

.nav-about {
	color: 			#acd;
}

.container {
	position: 		relative;
	width: 			90%;
	height: 		100%;
	min-height: 	600px;
	max-width: 		900px;
	margin: 		0px auto;
}

.content {
	margin: 0px;
}

.inner-content {
	padding: 	50px 100px 200px 80px;

}

.footer {
	position: 		absolute;
	bottom: 		0px;
	width: 			100%;
}

.footer-message {
	position: 	relative;
	text-align: center;
	color: 		#212121;
	font-size: 	12px;
	width: 		350px;
	margin: 	10px auto;
}