.inner-content {
	padding: 	50px 0px 100px 0px;
}

.unit-card-outer {
	position: relative;
	float: left;
	height: 1000px;
	width: 850px;
	border: 2px solid black;
	border-radius: 16px;
	padding: 25px;
}

.unit-card {
	font-family: "Kontra";
	font-size: 30px;
	position: relative;
	width: 100%;
	height: 100%;
	border: 4px solid black;
	border-radius: 8px;
}

.unit-top-bar {
	position: relative;
	width: 100%;
	height: 350px;
	border-bottom: 4px solid black;
}

.unit-bottom-bar {
	font-family: "Kontra Italic";
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	bottom: 0px;
	padding: 15px 0px;
	width: 100%;
	height: 30px;
	border-top: 4px solid black;
}

.unit-icon {
	z-index: 3;
	position: relative;
	top: -20%;
	width: 100%;
	height: 140%;
	overflow: visible;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.unit-basics {
	position: relative;
	float: left;
	margin: 0px;
	margin-left: 50px;
}

.unit-name {
	font-weight: bolder;
	font-size: 40px;
	margin: 30px 20px;
}

.unit-class {
	font-family: "Kontra Italic";
	margin: 30px 20px;
}

.unit-basics-stats {
	font-family: "Kontra";
	margin: 30px 20px;
}

.unit-abilities {
	position: relative;
	height: 540px;
	display: block;
	margin: 0px 20px;
	padding-top: 20px;
	font-size: 30px;
	line-height: 1.3em;
	text-align: center;
}

.unit-ability {
	font-family: "Kontra Light";
	margin: 10px auto;
}

.unit-ability h3 {
	font-family: "Kontra";
	margin: 0px;
}

div.artifact {
	width: 100%;
	position: absolute;
	bottom: 10px;
	font-family: "Kontra Italic";
	margin: 10px auto;
}

.artifact span.ability {
	font-family: "Kontra";
}

.artifact h3 {
	border-top: 2px solid #010101;
	padding-top: 5px;
	margin: 0px;
}

.active {
	color: #001fc6;
}
.passive {
	color: #1e1e1e;
}
.range {
	color: #60318d;
}

.hp {
	color: #ee0000;
	background-color: #eeeeee;
}
.d6 {
	color: #efefef;
	background-color: #372e92;
}
.d8 {
	color: #efefef;
	background-color: #ef940c;
}
.d12 {
	color: #efefef;
	background-color: #f10a0f;
}
.d20 {
	color: #efefef;
	background-color: #d939e6;
}

span.damage {
	color: #a91400;
	font-weight: bolder;
}
span.artifact, .artifact h3 {
	color: #276ac3;
}
span.ally {
	color: #4aa500;
}
span.enemy {
	color: #bb2030;	
}
span.unit {
	font-weight: bolder;
}
span.piece {
	font-weight: bolder;
	text-decoration: underline;
}
span.titan {
	padding: 0 5px;
	font-weight: bolder;
	color: #dfdfdf;
	background-color: #010101;
}

.vanguard {
	background-image: url(/resources/ds/img/orb_icons/vanguard.png);
}
.sentinel {
	background-image: url(/resources/ds/img/orb_icons/sentinel.png);
}
.warpcore {
	background-image: url(/resources/ds/img/orb_icons/warpcore.png);
}
.zegatron {
	background-image: url(/resources/ds/img/orb_icons/zegatron.png);
}
.puppet {
	background-image: url(/resources/ds/img/hell_icons/puppet.png);
}
.cerberus {
	background-image: url(/resources/ds/img/hell_icons/cerberus.png);
}
.soulke {
	background-image: url(/resources/ds/img/hell_icons/soulke.png);
}
.balzan {
	background-image: url(/resources/ds/img/hell_icons/balzan.png);
}

.hexagon {
  position: relative;
  float: left;
  width: 300px; 
  height: 173.21px;
  margin: 89px -3px;
  background-size: auto 334.8632px;
  background-position: center;
  border-left: solid 5px #333333;
  border-right: solid 5px #333333;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 213.5px;
  height: 213.5px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 39.5px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 290.0000px;
  height: 167.4315780649915px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-83.7158px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -110px;
  border-top: solid 7.0711px #333333;
  border-right: solid 7.0711px #333333;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -110px;
  border-bottom: solid 7.0711px #333333;
  border-left: solid 7.0711px #333333;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 2.8868px;
  left: 0;
  width: 290.0000px;
  height: 167.4316px;
  z-index: 2;
  background: inherit;
}