.unit-card {
	height: 1000px;
	width: 900px;
	border: 2px solid black;
	border-radius: 10px;
}

.vanguard {
	background-image: url(/resources/ds/img/orb_icons/vanguard.png);
}

.unit-icon {
	z-index: 3;
	position: relative;
	top: -20%;
	width: 100%;
	height: 140%;
	overflow: visible;
	background-size: 100%;
	background-position: center;
}

.hexagon {
	position: relative;
	width: 400px; 
	height: 230.94px;
	margin: 119.47px 0; /* 30 more than needed for pure-hex */
	border-left: solid 5px #333333;
	border-right: solid 5px #333333;
}

.hexTop,
.hexBottom {
	position: absolute;
	z-index: 1;
	width: 284.8px;
	height: 284.8px;
	overflow: hidden;
	-webkit-transform: scaleY(0.5774) rotate(-45deg);
	-ms-transform: scaleY(0.5774) rotate(-45deg);
	transform: scaleY(0.5774) rotate(-45deg);
	left: 53.58px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
	content: "";
	position: absolute;
	width: 390.0000px;
	height: 225.16660498395407px;
	-webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-112.5833px);
	-ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-112.5833px);
	transform:          rotate(45deg) scaleY(1.7321) translateY(-112.5833px);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.hexTop {
	top: -146px;
	border-top: solid 7.0711px #333333;
	border-right: solid 7.0711px #333333;
}

.hexTop:after {
	background-position: center top;
}

.hexBottom {
	bottom: -146px;
	border-bottom: solid 7.0711px #333333;
	border-left: solid 7.0711px #333333;
}

.hexBottom:after {
	background-position: center bottom;
}