h1 {
  margin: 40px auto;
  width: 50%;
  text-align: center;
  font-family: 'Helvetica';
  font-weight: lighter;
  font-size: 48px;
}

#play_area {
  position: relative;
  margin: 0 auto;
  width: 570px;
  height: 800px;
}

#game_state {
  display: none;
}


/* Number container*/
.numbox, .clone {
  font-size: 26px;
  text-align: center;
  position: absolute;
  margin: 70px 60px;
  border: red 2px;
  width: 20px;
  height: 20px;
}

/* Hexagon class */
.hexagon {
  position: absolute;
  width: 150px; 
  height: 86.60px;
  background-color: #64C7CC;
  margin: 43.30px 0;
  z-index: -1;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 43.30px solid #64C7CC;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 43.30px solid #64C7CC;
}

/* positions */
.left_hex {
  top: 136px;
  left: 50px;
}

.topleft_hex {
  top: 0px;
  left: 126.6px;
}

.topright_hex {
  top: 0px;
  left: 286px;
}

.right_hex {
  top: 136px;
  left: 365px;
}

.bottomleft_hex {
  top: 272px;
  left: 126.6px;
}

.bottomright_hex {
  top: 272px;
  left: 286px;
}

.center_hex {
  top: 136px;
  left: 206.6px;
}

/* animation positions */
.left_anim {
  top: 136px;
  left: 50px;
  transition: left 2s, top 2s;
}

.topleft_anim {
  top: 0px;
  left: 126.6px;
  transition: left 2s, top 2s;
}

.topright_anim {
  top: 0px;
  left: 286px;
  transition: left 2s, top 2s;
}

.right_anim {
  top: 136px;
  left: 365px;
  transition: left 2s, top 2s;
}

.bottomleft_anim {
  top: 272px;
  left: 126.6px;
  transition: left 2s, top 2s;
}

.bottomright_anim {
  top: 272px;
  left: 286px;
  transition: left 2s, top 2s;
}

.center_anim {
  top: 136px;
  left: 206.6px;
  transition: left 2s, top 2s;
}
