.cover {
	float: left;
	display: block;
	width: 100%;
	height: 300px;
	margin-bottom: 30px;
	background-color: #2ecc71;
}

p {
	padding: 0px;
	margin: 5px;
}

.icons {
	float: left;
	margin: 0px 20px;
	top: -10px;
	width: 100px;
}

.icons ul {
	list-style: 	none;
	height: 		100%;
	padding: 		0px;
}

.icons li {
	position: relative;
	float: left;
	height: 65px;
	width: 65px;
	margin: 25px 10px;
	border: 5px solid #2980b9;
	border-radius: 50%;
	background-color: #27ae60;
	transition: all 0.25s ease-in-out;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
}

.docIcon {
}

/*
.docIcon:after {
    content:"";
    display:block;
    position:absolute;
    left:0;
    top:0;
    height:50%;
    width:60%;
    margin:20%;
    background:-webkit-linear-gradient(top, #2980b9 0, #2980b9 10%, #27ae60 10%, #27ae60 45%, #2980b9 45%, #2980b9 55%, #27ae60 55%, #27ae60 90%, #2980b9 90%, #2980b9 100%);
	transition: all 0.35s ease-in-out;
}

.docIcon:hover:after {
    background:-webkit-linear-gradient(top, #3498db 0, #3498db 10%, #27ae60 10%, #27ae60 45%, #3498db 45%, #3498db 55%, #27ae60 55%, #27ae60 90%, #3498db 90%, #3498db 95%);
}
*/
.icons li:hover {
	background-color: #2ecc71;
	border: 5px solid #3498db;
}

.icons li p {	
	color: #000;
	position: absolute;
	top: 60px;
	left: -30px;
	width: 125px;
	text-align: center;
	font-size: 14px;
}

.icons a {
	text-decoration: none;
}

.grid {
	display: block;
	float: left;
	width: 100%;
	height: auto;
	min-height: 300px;
}

.grid_item {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	width: 270px;
	height: 270px;
	float: left;
	margin: 30px;
	padding: 10px;
	border-radius: 50%;
}

.item_blurb {
	color: #000;
	width: 100%;
	height: 90%;
	padding-top: 10%;
	text-align: center;
	vertical-align: center;
	text-shadow: 0px 0px 3px #fff;
	background-color: #ecf0f1;
	border-radius: 50%;
	transition: all 0.35s ease-in-out;
	opacity: 0.05;
}

.item_blurb:hover {
	opacity: 0.9;
}

a.item_blurb {
	text-decoration: none;
}


.item_blurb h1 {
	font-size: 40px;
	font-weight: bolder;	
	padding: 0px;
	margin: 0px;
}

.item_blurb h2 {
	padding: 0px;
	margin: 0px;

	font-size: 24px;
	font-weight: lighter;
}

.item_blurb h3 {
	font-size: 24px;
	font-weight: lighter;
	padding: 0px;
	margin: 0px;
	color: #2ecc71;
}

.item_blurb p {
	z-index: 999999;
	top: 0;
	left: 0;
	width: 80%;
	padding: 0 10%;
	max-width: 600px;
	overflow: auto;
	margin: 0 auto;
	color: #000;
	font-size: 14px;
	font-weight: lighter;
}

.link-spanner {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left: 0;
	z-index: 1;
	transition: all 0.2s ease-in-out;
}   

#profile {
	display: block;
	position: absolute;
	top: 150px;
	right: 100px;
	width: 150px;
	margin: 50px 0px;
	height: 300px;
}

#portrait {
	background-image: url('/resources/images/face.jpg');
	background-size: 100%;
	background-color: #0cc;
	height: 100px;
	width: 100px;
	margin: 10px auto;
	border-radius: 50%;
}

.mission {
	width: 300px;
	margin: 100px auto;
	font-size: 28px;
	font-weight: lighter;
	text-align: center;
	vertical-align: center;
}

/* Document Icon CSS */
