body {
	color: #000;
	font-size: 	20px;
}

.inner-content {
	padding-top: 20px;
}

.quote {
	color: #cce;
	margin: 50px 50px;
	text-decoration: italic;
}

.essay-map {
	color: 		#666;
	font-size: 	18px;
}

.essay-date {
	text-align: center;
	color: 		#55f;
	font-size: 	18px;
	width: 600px;
	margin: 0 auto;
	margin-bottom: 30px;
}

h1 {
	text-align: center;
	padding-top:	90px;
	margin-bottom: 	10px;

}

h2 {
	color: 			#111;
	font-size: 		30px;
	margin-bottom: 	0px;
}

h3 {
	color: 			#111;
	font-size: 		24px;
	font-weight: 	bold;
	line-height: 	1em;
	margin-top: 	40px;
	margin-bottom: 	10px;
}

p {
	margin-top: 	0px;
	padding-top: 	0px;
	margin-bottom: 	30px;
}

blockquote {
	color: #101010;
	font-size: 22px;
	font-style: italic;
}

